@import '../../styles/colors.scss';


.header {
    border-bottom: 1px solid $grayF6;
    padding: 40px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;

        .headerCart {
            display: flex;
            align-items: center;

            .borderRadius{
                border-radius: 0!important;
            }
            .btnsAuth {
                text-align: center;
                display: flex;
                align-items: center;
                border-bottom-right-radius: 30px;
                border-top-right-radius: 30px;
                background-color: $orange;
                padding: 10px 20px;
                text-transform: uppercase;
                cursor: pointer;
                transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
                font-weight: 600;
                font-size: 16px;
                width: 85px;
                text-align: center;
                box-sizing: content-box;
                height: 23px;
                border: 1px solid transparent;
                border-left: 1px solid $white;

                span {
                    color: $white;
                }

                svg {
                    margin-right: 5px;
                }
            }


            .buttonCart {

                justify-content: center;
                display: flex;
                align-items: center;
                line-height: 23px;
                padding: 12px 25px;
                background-color: $orange;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                padding: 10px 20px;
                min-width: 100px;
                cursor: pointer;
                transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
                border: 1px solid transparent;
                user-select: none;
                color: $white;

                span {
                    font-weight: 600;
                    font-size: 16px;
                    color: $white;
                }

                svg {
                    margin-right: 8px;
                    margin-bottom: 1px;
                    transition: all 0.15s ease-in-out;
                }






            }
        }
    }

    &__logo {
        display: flex;

        img {
            margin-right: 15px;
        }

        h1 {
            color: $black18;
            font-size: 24px;
            letter-spacing: 1%;
            text-transform: uppercase;
            font-weight: 800;
        }

        p {
            color: $gray7b;
        }
    }
}