@import '../../../../common/styles/colors.scss';

.inputForm {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 270px;
    // border: 2px solid $orange;
    border-radius: 2px;

    .labelImg {
        position: absolute;
        height: 35px;
        border-right: 1.5px solid $orange;
        padding: 0 3px;
    }

    .inputAuth {
        border: 2px solid $orange;
        color: $gray;
        font-size: 16px;
        font-weight: 700;
        padding: 0 2px;
        padding-left: 50px;
        width: 100%;
        height: 34px;
        box-sizing: content-box;
        border-radius: 3px;

        &:focus {
            border: 2px solid $background;
        }
    }
}