.wrapper{
    .title{
        padding-left: 50px;
        margin: 35px 0;
        font-weight: 800;
        font-size: 28px;
        line-height: 30px;
    }
    .content{
        margin-top: 60px;
    }
}