@import '../../../../common/styles/colors.scss';

.authButtons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 270px;
    text-align: center;

    .button {
        cursor: pointer;
        width: 120px;
        background-color: $orange;
        padding: 10px 0;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        border: 0px;

        &:hover {
            outline: 3px solid $orange;
            color: $black1111;
            transition: color 1s;
        }
    }
}