@import '../../../common/styles/colors.scss';

@keyframes shake {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
    }

    20%,
    40% {
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
    }
}

.pizzaBlock {
    width: 280px;
    text-align: center;
    margin-bottom: 65px;

    .wrapperRaiting {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .numberRaiting {
            font-size: 1.2em;
            min-width: 20px;
            font-weight: bold;
        }
        .like {
            cursor: pointer;
            &:hover {
                fill: $orange;
            }
        }
    }
    &:not(:nth-of-type(4n)) {
        margin-right: 35px;
    }

    .image {
        width: 260px;
    }

    .title {
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1%;
        margin-bottom: 20px;
    }

    .selector {
        display: flex;
        background-color: $grayF3;
        border-radius: 10px;
        flex-direction: column;
        padding: 6px;

        .wrapperCheckPizza {
            position: relative;

            .checkSizePizza {
                color: $red;
                top: 40px;
                position: absolute;
                border-bottom: 2px solid;
                font-weight: 900;
            }
        }

        ul {
            display: flex;
            flex: 1;

            &:first-of-type {
                margin-bottom: 6px;
            }

            li {
                margin: 0 5px;
                padding: 8px;
                flex: 1;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
            }

            .active {
                background: #ffffff;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                cursor: auto;
            }

            .disabled {
                outline: 0 !important;
                opacity: 0.4;
                pointer-events: none;
                animation: none !important;
            }

            .dontChooseSize {
                outline: 2px solid $red;
                border-radius: 5px;
                animation: shake 1.5s;
                animation-iteration-count: infinite;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .price {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.015em;
    }

    .addTocart {
        display: inline-block;
        background-color: $white;
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: 10px 20px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        border: 1px solid $orange;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        .emptyCount {
            width: 0;
            height: 22px;
            visibility: hidden;
        }
        i {
            display: inline-block;
            border-radius: 30px;
            background-color: $orange;
            color: $white;
            font-weight: 600;
            width: 22px;
            height: 22px;
            font-style: normal;
            font-size: 13px;
            line-height: 22px;
            position: relative;
            top: -1px;
            left: 3px;
        }

        span {
            color: $orange;
            font-weight: 600;
            font-size: 16px;
        }

        svg {
            margin-right: 2px;

            path {
                fill: $orange;
            }
        }

        &:hover {
            background-color: $orange;

            i {
                background-color: $white;
                color: $orange;
            }

            span {
                color: $white;
            }

            svg {
                path {
                    fill: $white;
                }
            }
        }
    }
}
