@import '../../../../common/styles/colors.scss';

.inputForm {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 270px;
    border-radius: 2px;

    .labelImg {
        position: absolute;
        height: 35px;
        border-right: 1.5px solid $orange;
        padding: 0 3px;
    }
}